@import "./variables";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  width: 100%;
}

body {
  line-height: 1.3;
  margin: 0px;
  padding: 0px;
  // background-color: red;
  color: #ffffff;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Rock+Salt&display=swap");
.navbar {
  background-color: $navBackground;
  color: white;
  font-family: "Urbanist", sans-serif;
}
// font-family: "Kaushan Script", cursive;
.brandName {
  font-family: "Kaushan Script", cursive;
}
.sectionHeader {
  font-family: "Urbanist", sans-serif;
}
.link {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

.welcomeSection {
  background-color: $welcomeSection;
  h1 {
    font-family: "Work Sans", sans-serif;
  }
  p {
    font-family: "Work Sans", sans-serif;
  }
}

.icons {
  padding-right: 15px;

  img {
    width: 50px;
    border: 5px solid transparent;
    border-radius: 50px;
    border-color: white;
    background-color: white;
  }
}

.skillSection {
  background: $skillSection;

  &:hover {
    background-color: $skillSectionHover;
  }
}

.skill {
  text-align: center;
  background: $skillBg;
}

.skillName {
  text-align: center;
  background: $skillNameBg;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;

  a {
    font-weight: 500;
    color: white;
    text-decoration: none;
  }
}

.projectSection {
  background-color: $projectSection;
}
.project {
  cursor: pointer;
}
.liveLink {
  display: none;
  position: relative;
  top: -300px;
  text-align: center;
  background: $projectName;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;

  a {
    color: white;
    text-decoration: none;
  }
}

.projectName {
  text-align: center;
  background: $projectName;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;

  a {
    color: white;
    text-decoration: none;
  }
}

.technologiesUsed {
  display: none;
}

.techno {
  img {
    padding: 1px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
  }
}

.aboutSection {
  h3 {
    font-family: "Urbanist", sans-serif;
  }
  background: $aboutSection;
  font-family: "Work Sans", sans-serif;
}

.footero {
  font-family: "Work Sans", sans-serif;
  a {
    text-decoration: underline;
  }
  h3 {
    font-family: "Urbanist", sans-serif;
  }
  background-color: $footer;
}
