// colors

$navBackground:#2c2c2c;

$contactsSection:white; 

$welcomeSection:#df173f;
// $welcomeSection:#a33a47;

$skillSection:rgba(45, 46, 45, 0.938);


$skillNameBg:rgba(45, 46, 45, 0.938);
$skillBg:$skillSection;
$skillBgHover:white;
$skillSectionHover:rgba(45, 46, 45, 0.938);

$projectSection:#3d99c7;
// $projectSection:#689eb8;
$projectBg:#689eb8;
// $projectBg:transparent;
$projectName:$projectBg;

// $aboutSection:rgb(173, 55, 75);
$aboutSection:$skillSection;

$footer:rgb(25, 185, 92);
// $navBackground:rgb(58, 57, 57);
// $contactsSection:white; 
// $welcomeSection:rgb(47, 48, 48);
// $skillSection:rgb(65, 65, 63);
// $projectSection:rgb(90, 90, 107);
// $aboutSection:pink;
// $footer:orange;

// $footer:rgb(65, 65, 65);

// $skillNameBg:grey;
// $skillBg:grey;
// $skillBgHover:white;
// $skillSectionHover:rgba(45, 46, 45, 0.938);
// fonts

