@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Rock+Salt&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

body {
  line-height: 1.3;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  overflow-x: hidden;
}

.navbar {
  background-color: #2c2c2c;
  color: white;
  font-family: "Urbanist", sans-serif;
}

.sectionHeader {
  font-family: "Urbanist", sans-serif;
}

.link {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

.welcomeSection {
  background-color: #df173f;
}

.welcomeSection h1 {
  font-family: "Kaushan Script", cursive;
}

.welcomeSection p {
  font-family: "Work Sans", sans-serif;
}

.icons {
  padding-right: 15px;
}

.icons img {
  width: 50px;
  border: 5px solid transparent;
  border-radius: 50px;
  border-color: white;
  background-color: white;
}

.skillSection {
  background: rgba(45, 46, 45, 0.938);
}

.skillSection:hover {
  background-color: rgba(45, 46, 45, 0.938);
}

.skill {
  text-align: center;
  background: rgba(45, 46, 45, 0.938);
}

.skillName {
  text-align: center;
  background: rgba(45, 46, 45, 0.938);
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;
}

.skillName a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.projectSection {
  background-color: #3d99c7;
}

.project {
  cursor: pointer;
}

.liveLink {
  display: none;
  position: relative;
  top: -300px;
  text-align: center;
  background: #689eb8;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;
}

.liveLink a {
  color: white;
  text-decoration: none;
}

.projectName {
  text-align: center;
  background: #689eb8;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;
}

.projectName a {
  color: white;
  text-decoration: none;
}

.technologiesUsed {
  display: none;
}

.techno img {
  padding: 1px;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
}

.aboutSection {
  background: rgba(45, 46, 45, 0.938);
  font-family: "Work Sans", sans-serif;
}

.aboutSection h3 {
  font-family: "Urbanist", sans-serif;
}

.footero {
  font-family: "Work Sans", sans-serif;
  background-color: #19b95c;
}

.footero a {
  text-decoration: underline;
}

.footero h3 {
  font-family: "Urbanist", sans-serif;
}

@media (min-width: 999px) {
  .navbar {
    position: fixed;
    z-index: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 3fr;
        grid-template-columns: 4fr 3fr;
    grid-column-gap: 40%;
    width: 100vw;
  }
  .navbar .brandName {
    font-size: 3em;
    padding-left: 10%;
  }
  .navbar .links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6%;
  }
  .navbar .links .link {
    font-size: 1.2em;
    font-weight: 400;
  }
  .navbar .links .link:hover {
    border-bottom: 2px dashed white;
    opacity: 1;
  }
  .welcome {
    padding-bottom: 100px;
    padding-top: 140px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 13fr 13fr 3fr;
        grid-template-columns: 13fr 13fr 3fr;
  }
  .welcomeContent {
    padding: 70px;
  }
  .welcomeContent h1 {
    font-size: 4em;
  }
  .welcomeContent p {
    font-size: 1.5em;
  }
  .contacts {
    padding-left: 20%;
    display: -ms-grid;
    display: grid;
  }
  .contacts img {
    width: 40px;
  }
  .contacts #upwork {
    position: relative;
    left: -20px;
  }
  .contacts #upwork img {
    width: 100px;
  }
  section {
    padding-top: 20px;
  }
  .skills {
    padding-bottom: 150px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
  }
  .sectionHeader {
    margin-left: 50px;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
  }
  .skill {
    padding: 10px;
    height: 150px;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
    -webkit-transition: background-color 1s ease-in-out, border-radius 1.5s ease-in-out;
    transition: background-color 1s ease-in-out, border-radius 1.5s ease-in-out;
  }
  .skill img {
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
  }
  .skill:hover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
  }
  .skill:hover img {
    width: 80%;
    position: relative;
    top: 20px;
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  .skill:hover .skillName {
    width: 100%;
    position: relative;
    top: -100px;
    padding: 10px 20px;
  }
  .skill:hover .skillName a {
    font-size: 1.2em;
  }
  .skillIcon {
    height: 80px;
  }
  .skillIcon img {
    -webkit-transition: top 2s ease-in-out;
    transition: top 2s ease-in-out;
    height: 100px;
  }
  .skillName {
    position: relative;
    top: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    padding: 3px 10px;
    border-radius: 10px;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  .skillName a {
    -webkit-transition: font-size 1s ease-in-out;
    transition: font-size 1s ease-in-out;
  }
  .projects {
    margin: 0 auto;
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  .project {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #689eb8;
    height: 380px;
    background: transparent;
  }
  .project .projectImage img {
    display: block;
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
    border-radius: 10px;
  }
  .project:hover {
    background: #689eb8;
  }
  .project:hover .projectImage img {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  .project:hover .liveLink {
    display: block;
    font-size: 2em;
    position: relative;
    top: -200px;
    width: 20%;
  }
  .project:hover .projectName {
    position: relative;
    top: -340px;
    font-size: 2em;
  }
  .project:hover .technologiesUsed {
    position: relative;
    top: -80px;
  }
  .project:hover .technologiesUsed img {
    display: block;
  }
  .techno {
    text-align: center;
  }
  .projectName {
    margin: 0 auto;
    position: relative;
    top: 10px;
    padding: 5px 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: top 1s ease-in-out, font-size 1s ease-in-out;
    transition: top 1s ease-in-out, font-size 1s ease-in-out;
  }
  .projectName:hover {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  .liveLink {
    -webkit-transition: display 0.1s ease-in-out, top 3s ease-in-out;
    transition: display 0.1s ease-in-out, top 3s ease-in-out;
    margin: 0 auto;
    padding: 5px 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .liveLink:hover {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  .technologiesUsed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .technologiesUsed img {
    display: none;
    width: 20%;
  }
  .blender img {
    width: 35px;
  }
  .abouts {
    width: 80%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .meraPhoto img {
    width: 60%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
  .mereBaare h3 {
    margin: 0;
    padding: 0;
    font-size: 4em;
  }
  .mereBaare p {
    font-size: 2em;
  }
  .container {
    margin: 0 auto;
  }
  .footero {
    position: relative;
    width: 104%;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 40px;
    height: 300px;
  }
  .footero h3 {
    font-size: 2em;
  }
  .footero a {
    color: white;
    font-size: 1.3em;
  }
  section {
    position: relative;
  }
  .skillSection {
    padding-top: 100px;
  }
  .custom-shape-divider-top-1629566985 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .custom-shape-divider-top-1629566985 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 112px;
  }
  .custom-shape-divider-top-1629566985 .shape-fill {
    fill: #df173f;
  }
  /** For mobile devices **/
}

@media (min-width: 999px) and (max-width: 767px) {
  .custom-shape-divider-top-1629566985 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}

@media (min-width: 999px) {
  .projectSection {
    padding-top: 0px;
  }
  .custom-shape-divider-bottom-1629567417 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .custom-shape-divider-bottom-1629567417 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
  }
  .custom-shape-divider-bottom-1629567417 .shape-fill {
    fill: #3d99c7;
  }
  /** For mobile devices **/
}

@media (min-width: 999px) and (max-width: 767px) {
  .custom-shape-divider-bottom-1629567417 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}

@media (min-width: 999px) {
  .aboutSection {
    padding-top: 150px;
  }
  .custom-shape-divider-top-1629568114 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .custom-shape-divider-top-1629568114 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .custom-shape-divider-top-1629568114 .shape-fill {
    fill: #3d99c7;
  }
  /** For mobile devices **/
}

@media (min-width: 999px) and (max-width: 767px) {
  .custom-shape-divider-top-1629568114 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}

@media (min-width: 999px) {
  .aboutSection {
    padding-bottom: 200px;
  }
  .custom-shape-divider-bottom-1629568392 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .custom-shape-divider-bottom-1629568392 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 149px;
  }
  .custom-shape-divider-bottom-1629568392 .shape-fill {
    fill: #19b95c;
  }
  /** For mobile devices **/
}

@media (min-width: 999px) and (max-width: 767px) {
  .custom-shape-divider-bottom-1629568392 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .navbar {
    position: fixed;
    z-index: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
    width: 100vw;
  }
  .navbar .brandName {
    font-size: 2.5em;
    padding-left: 5px;
  }
  .navbar .links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6%;
  }
  .navbar .links .link {
    font-size: 1em;
    font-weight: 400;
  }
  .navbar .links .link:hover {
    border-bottom: 2px dashed white;
    opacity: 1;
  }
  .welcome {
    padding-bottom: 10px;
    padding-top: 40px;
    display: -ms-grid;
    display: grid;
  }
  .welcome .bigImage img {
    width: 80%;
  }
  .container {
    text-align: center;
  }
  .welcomeContent {
    padding: 5px 10px;
  }
  .welcomeContent h1 {
    font-size: 2.5em;
  }
  .welcomeContent p {
    font-size: 1.9em;
  }
  .contacts {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts img {
    width: 40px;
  }
  .contacts #upwork {
    position: relative;
    left: -20px;
  }
  .contacts #upwork img {
    width: 100px;
  }
  section {
    padding-top: 20px;
  }
  .skills {
    padding-bottom: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }
  .sectionHeader {
    text-align: left;
    margin-left: 50px;
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .skill {
    padding: 10px;
    height: 150px;
    width: 60%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    -webkit-transition: background-color 1s ease-in-out, border-radius 1.5s ease-in-out;
    transition: background-color 1s ease-in-out, border-radius 1.5s ease-in-out;
  }
  .skill img {
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
  }
  .skill:hover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
  }
  .skill:hover img {
    width: 80%;
    position: relative;
    top: 20px;
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  .skill:hover .skillName {
    width: 100%;
    position: relative;
    top: -100px;
    padding: 10px 5px;
  }
  .skill:hover .skillName a {
    font-size: 1.1em;
  }
  .skillIcon {
    height: 80px;
  }
  .skillIcon img {
    -webkit-transition: top 2s ease-in-out;
    transition: top 2s ease-in-out;
    height: 100px;
  }
  .skillName {
    position: relative;
    top: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  .skillName a {
    -webkit-transition: font-size 1s ease-in-out;
    transition: font-size 1s ease-in-out;
  }
  .projects {
    margin: 0 auto;
    width: 90%;
  }
  .project {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #689eb8;
    height: 420px;
    margin-top: 40px;
    background: transparent;
  }
  .project img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
  }
  .project:hover {
    background: #689eb8;
  }
  .project:hover .projectImage img {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  .project:hover .liveLink {
    display: block;
    font-size: 2em;
    position: relative;
    top: -260px;
    width: 20%;
  }
  .project:hover .projectName {
    position: relative;
    top: -380px;
    font-size: 2em;
  }
  .project:hover .technologiesUsed {
    position: relative;
    top: -80px;
  }
  .project:hover .technologiesUsed img {
    display: block;
  }
  .projectName {
    margin: 0 auto;
    position: relative;
    top: 10px;
    padding: 5px 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: top 1s ease-in-out, font-size 1s ease-in-out;
    transition: top 1s ease-in-out, font-size 1s ease-in-out;
  }
  .projectName:hover {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  .liveLink {
    -webkit-transition: display 0.1s ease-in-out, top 3s ease-in-out;
    transition: display 0.1s ease-in-out, top 3s ease-in-out;
    margin: 0 auto;
    padding: 5px 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .liveLink:hover {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  .technologiesUsed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .technologiesUsed img {
    display: none;
    width: 20%;
  }
  .blender img {
    width: 35px;
  }
  .abouts {
    width: 80%;
    margin: 0 auto;
  }
  .meraPhoto img {
    width: 50%;
    border-radius: 8px;
  }
  .mereBaare h3 {
    margin: 0;
    padding: 0;
    font-size: 4em;
  }
  .mereBaare p {
    font-size: 2em;
  }
  .container {
    margin: 0 auto;
  }
  .footero {
    text-align: left;
    position: relative;
    width: 104%;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 40px;
    height: 300px;
  }
  .footero h3 {
    font-size: 2em;
  }
  .footero a {
    color: white;
    font-size: 1.3em;
  }
  section {
    position: relative;
  }
  .skillSection {
    padding-top: 100px;
  }
  .custom-shape-divider-top-1629566985 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .custom-shape-divider-top-1629566985 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 112px;
  }
  .custom-shape-divider-top-1629566985 .shape-fill {
    fill: #df173f;
  }
  /** For mobile devices **/
}

@media (min-width: 500px) and (max-width: 1000px) and (max-width: 767px) {
  .custom-shape-divider-top-1629566985 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .projectSection {
    padding-top: 0px;
  }
  .custom-shape-divider-bottom-1629567417 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .custom-shape-divider-bottom-1629567417 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
  }
  .custom-shape-divider-bottom-1629567417 .shape-fill {
    fill: #3d99c7;
  }
  /** For mobile devices **/
}

@media (min-width: 500px) and (max-width: 1000px) and (max-width: 767px) {
  .custom-shape-divider-bottom-1629567417 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .aboutSection {
    padding-top: 100px;
  }
  .custom-shape-divider-top-1629568114 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .custom-shape-divider-top-1629568114 svg {
    position: relative;
    top: 2px;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .custom-shape-divider-top-1629568114 .shape-fill {
    fill: #3d99c7;
  }
  /** For mobile devices **/
}

@media (min-width: 500px) and (max-width: 1000px) and (max-width: 767px) {
  .custom-shape-divider-top-1629568114 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .aboutSection {
    padding-bottom: 100px;
  }
  .custom-shape-divider-bottom-1629568392 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .custom-shape-divider-bottom-1629568392 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 149px;
  }
  .custom-shape-divider-bottom-1629568392 .shape-fill {
    fill: #19b95c;
  }
  /** For mobile devices **/
}

@media (min-width: 500px) and (max-width: 1000px) and (max-width: 767px) {
  .custom-shape-divider-bottom-1629568392 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}

@media (max-width: 502px) {
  section {
    position: relative;
  }
  .links {
    display: none;
  }
  .container {
    text-align: center;
  }
  .welcome {
    padding-top: 60px;
  }
  .welcomeContent {
    padding: 0 10px;
  }
  .welcomeContent h1 {
    font-size: 2em;
  }
  .welcomeContent p {
    font-size: 1.5em;
  }
  .navbar {
    position: fixed;
    z-index: +1;
  }
  .brandName {
    font-size: 3em;
    padding: 5px 0;
    text-align: center;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contacts .icons img {
    width: 50%;
  }
  .contacts #upwork img {
    width: 100%;
  }
  .sectionHeader {
    text-align: left;
    font-size: 2.5em;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 30px;
    padding-bottom: 100px;
  }
  .skill {
    border-radius: 15px;
  }
  .skill .skillName {
    display: none;
  }
  .project {
    margin: 35px auto;
    margin-bottom: 0;
    padding-top: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #689eb8;
    height: 240px;
    background: transparent;
  }
  .project img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
  }
  .project:hover {
    background: #689eb8;
  }
  .project:hover .projectImage img {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  .project:hover .liveLink {
    display: block;
    font-size: 1.5em;
    position: relative;
    top: -140px;
    width: 20%;
  }
  .project:hover .projectName {
    position: relative;
    top: -205px;
    font-size: 1.5em;
  }
  .project:hover .technologiesUsed {
    position: relative;
    top: -55px;
  }
  .project:hover .technologiesUsed img {
    display: block;
  }
  .projectName {
    margin: 0 auto;
    position: relative;
    top: 10px;
    padding: 4px 8px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: top 1s ease-in-out, font-size 1s ease-in-out;
    transition: top 1s ease-in-out, font-size 1s ease-in-out;
  }
  .projectName:hover {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  .liveLink {
    -webkit-transition: display 0.1s ease-in-out, top 3s ease-in-out;
    transition: display 0.1s ease-in-out, top 3s ease-in-out;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .liveLink:hover {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  .technologiesUsed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .technologiesUsed img {
    display: none;
    width: 40%;
  }
  .blender img {
    width: 35px;
  }
  .meraPhoto img {
    width: 50%;
    border-radius: 10px;
  }
  .mereBaare {
    padding: 10px;
  }
  .mereBaare h3 {
    margin: 0;
    padding: 0;
    font-size: 3em;
  }
  .mereBaare p {
    font-size: 1.5em;
  }
  .footero {
    text-align: left;
    position: relative;
    margin: 0 auto;
    padding-left: 10px;
    height: 300px;
  }
  .footero h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
  .footero a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
  }
  section {
    position: relative;
  }
  .skillSection {
    padding-top: 70px;
  }
  .custom-shape-divider-top-1629566985 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .custom-shape-divider-top-1629566985 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 112px;
  }
  .custom-shape-divider-top-1629566985 .shape-fill {
    fill: #df173f;
  }
  /** For mobile devices **/
}

@media (max-width: 502px) and (max-width: 767px) {
  .custom-shape-divider-top-1629566985 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}

@media (max-width: 502px) {
  .projects {
    padding-top: 0;
  }
  .custom-shape-divider-bottom-1629567417 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .custom-shape-divider-bottom-1629567417 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
  }
  .custom-shape-divider-bottom-1629567417 .shape-fill {
    fill: #3d99c7;
  }
  /** For mobile devices **/
}

@media (max-width: 502px) and (max-width: 767px) {
  .custom-shape-divider-bottom-1629567417 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}

@media (max-width: 502px) {
  .aboutSection {
    padding-top: 70px;
  }
  .custom-shape-divider-top-1629568114 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .custom-shape-divider-top-1629568114 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .custom-shape-divider-top-1629568114 .shape-fill {
    fill: #3d99c7;
  }
  /** For mobile devices **/
}

@media (max-width: 502px) and (max-width: 767px) {
  .custom-shape-divider-top-1629568114 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}

@media (max-width: 502px) {
  .aboutSection {
    padding-bottom: 50px;
  }
  .footero {
    padding-top: 50px;
  }
  .custom-shape-divider-bottom-1629568392 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .custom-shape-divider-bottom-1629568392 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 149px;
  }
  .custom-shape-divider-bottom-1629568392 .shape-fill {
    fill: #19b95c;
  }
  /** For mobile devices **/
}

@media (max-width: 502px) and (max-width: 767px) {
  .custom-shape-divider-bottom-1629568392 svg {
    width: calc(134% + 1.3px);
    height: 66px;
  }
}
/*# sourceMappingURL=style.css.map */